# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
score-service/go.work
score-service/go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
auth-service/node_modules
auth-service/.pnp
auth-service/.pnp.js

# testing
auth-service/coverage

# next.js
auth-service/.next/
auth-service/out/

# production
auth-service/build

# misc
.DS_Store
*.pem

# debug
auth-service/npm-debug.log*
auth-service/yarn-debug.log*
auth-service/yarn-error.log*

# local env files
auth-service/.env.local
auth-service/.env.development.local
auth-service/.env.test.local
auth-service.env.production.local
auth-service/.env

# vercel
auth-service/.vercel

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
auth-service/package-lock.json
**/*.bun

auth-service/prisma/generated
pgdata/
art/